{
  "apiVersion": "kamaji.clastix.io/v1alpha1",
  "kind": "TenantControlPlane",
  "metadata": {
    "name": "{{.Name}}",
    "labels": {
      "tenant.clastix.io": "{{.Name}}"
    }
  },
  "spec": {
    "controlPlane": {
      "deployment": {
        "replicas": {{.Replicas}}
      },
      "service": {
        "serviceType": "LoadBalancer"
      }
    },
    "kubernetes": {
      "version": "{{.Version}}",
      "kubelet": {
        "cgroupfs": "systemd"
      }
    },
    "networkProfile": {
      "port": 6443
    },
    "addons": {
      "coreDNS": {},
      "kubeProxy": {},
      "konnectivity": {
        "server": {
          "port": 8132
        }
      }
    }
  }
}